{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["**/*.tsx", "src/index.css"],
  "rules": {
    "selector-type-no-unknown": [ true, {
      "ignore": ["custom-elements", "default-namespace"]
    }]
  }
}