.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: baker-signet-std;
  src: url("/assets/font/baker-signet-std.otf") format("opentype");
}

@font-face {
  font-family: baker-signet-roman;
  src: url("/assets/font/baker-signet-roman.ttf") format("truetype");
}

/* Apply to all pages */

ion-content {
  --background: #fff url("/assets/img/backdrop.png") 0 0/100% 100% no-repeat;
}

ion-title {
  font-size: 20px;
  font-family: baker-signet-roman, serif;
  font-style: normal;
  font-weight: 400;
  color: #666;
}

ion-buttons ion-button {
  font-family: baker-signet-roman, serif;
  color: #988c76;
}

ion-buttons ion-back-button {
  font-family: baker-signet-roman, serif !important;
  color: #988c76 !important;
}

ion-list {
  background: transparent !important;
}

ion-row.align-items-center {
  align-items: center;
}

hr {
  background-color: #b9bbc0;
}

/* Button */

.button-outline {
  color: #988c76;

  --border-color: #988c76;
}

.button-solid {
  --background: #988c76;
}

/* Text */

h1,
h4 {
  font-family: baker-signet-roman, serif;
  color: #00266b;
}

.flight-info-title {
  margin-top: 10px !important;
  margin-bottom: -2px !important;
}

.text-large {
  font-size: 22px;
}

.text-small {
  font-size: 12px;
}

.text-normal {
  font-size: 17px;
}

/* IonIcon */

.list-icon {
  color: #666;
}

.arrow-forward-icon {
  color: #b9bbc0;
  transform: scale(0.7);
}

.arrow-back-icon {
  color: #666;
  margin-left: 10px;
}

.ion-btn-icon {
  margin-left: 2px;
  margin-right: 2px;
}

/* Apply to home page */

.flight-code-label {
  margin: 10px 0;
  font-size: 17px;
}

.continue-slide-label {
  font-size: 16px;
  padding-top: 16px;
}

.destination-card {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
}

ion-card.dining-page-card {
  margin: 0;
  height: 100% !important;
}

ion-card-title.dining-page-card {
  font-size: 15px;
}

ion-card-content.dining-page-card {
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-align: left;
  white-space: pre-line;
}

ion-card-header.dining-page-card {
  padding: 5px 10px 5px 10px;
}

ion-segment.dining-page-segment {
  --color-checked: #988c76;

  margin-top: -15px;
}

ion-toolbar.dining-page-toolbar {
  /* height: 40px !important; */
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.time-label {
  margin: 5px 0;
}

.time-label-icon {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

/* Apply to dining page */

.fullscreen-slides {
  margin-top: -16px !important;
}

.swiper-pagination-bullet-active {
  background: #988c76 !important;
}

.fullscreen-card {
  width: 100%;
}

.menu-header {
  font-size: 17px;
  font-weight: 500;
}

.menu-subheader {
  font-size: 14px;
  text-align: left;
  padding-top: 8px;
  font-style: italic;
}

.menu-text {
  font-size: 14px;
  text-align: left;
  padding-top: 4px;
  padding-left: 16px;
}

.menu-dishname {
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 8px;
  font-weight: 500;
}

.menu-dish-description {
  font-size: 14px;
  text-align: left;
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 12px;
  line-height: 1.25em;
  height: 3.75em;
  overflow: hidden;
}

.menu-img {
  width: 100% !important;
  margin-top: -60px;
}

.menu-btns {
  margin-top: 12px;
  padding: 0;
}

.menu-btn {
  width: 100%;
  font-size: 14px;
}

.menu-card-header {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.menu-list-item {
  --background: rgba(255, 255, 255, 0.5);
}

.menu-modal .modal-wrapper {
  --height: auto;
  --width: 80%;
  --max-width: 540px;
  --border-radius: 13px;
}

.menu-modal .modal-wrapper .ion-page {
  contain: content;
  position: relative;
}

.full-menu {
  padding: 16px 24px;
}

.cart-labels {
  text-align: left;
  padding-left: 8px;
}

ion-header.food-page-header {
  height: 32px;
}

img.food-page-img {
  margin-top: -32px;
  width: 100%;
}

ion-card.food-page-card {
  margin-top: -40px;
}

ion-card-header.food-page-card {
  background-color: rgba(255, 255, 255, 1);
}

ion-card-content.food-page-card {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 0;
  text-align: left;
  white-space: pre-wrap;
  font-size: 15px;
}

ion-card-title.food-page-title {
  text-align: left;
  font-family: baker-signet-roman, serif !important;
  color: #786c56;
  font-weight: 500;
}

ion-card-subtitle.food-page-subtitle {
  font-size: 15px;
  text-align: left;
  font-family: baker-signet-roman, serif !important;
  font-weight: 500;
}

ion-button.food-page-select-button {
  --padding-start: 0;
  --padding-end: 0;
}

ion-grid.food-page-quantity-grid {
  margin: -20px 0 -20px 0;
}

ion-button.food-page-confirm {
  width: 100%;
  padding-right: 7%;
}

div.home-page-slides {
  width: 100%;
  padding-bottom: 61.33%;
}

ion-slides.home-page-slides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

ion-slide.home-page-slide {
  padding-bottom: 61.33%;
}

div.home-page-slide {
  width: 100%;
  overflow: hidden;
}

div.slide-content {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

div.slide-title {
  height: 140px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, rgba(158, 158, 158, 0.8));
}

img.home-page-slide {
  width: 100% !important;
  max-height: unset !important;
  position: absolute;
  bottom: 0;
  left: 0;
}

ion-label.slide-title-right {
  color: white;
  position: absolute;
  right: 16px;
  bottom: 24px;
  font-size: 20px;
  font-weight: 500;
}

ion-label.slide-title-left {
  color: white;
  position: absolute;
  left: 16px;
  bottom: 42px;
  font-size: 20px;
  font-weight: 500;
}

ion-label.slide-title-left-sub {
  color: white;
  position: absolute;
  left: 16px;
  bottom: 24px;
  font-size: 15px;
  max-width: 180px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

ion-note.order-page-number {
  margin: 5px;
}
